body, html {
  margin: 0%;
  scroll-behavior: smooth;
}


/* CSS OF THE FIRST SECTION */
.hero-image {
  background-image: url('../images/index/coverpic.jpg');
  height: fit-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 126px;
}
/* CSS OF THE HEADER SECTION */
.header {
  font-size: 20px;
  font-family: "Comfortaa";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow: initial;
  padding: -47px 10px;
  background-color: rgba(6, 1, 31, 0.98); 
}

/* CSS OF THE HEADER LINK  */
.header a {
  
  float: right;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 30px;
  padding-top: 41px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
  margin-right: 10px;
}

/* CSS OF THE HOVER EFFECT OF HEADER LINK */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* CSS OF THE LOGO  */
.logo {
  position: fixed;
  left: 43px;
  top: -7px;
  width: 142px;
  height: 107px;
}
/* CSS OF THE NEW LAUNCH ID  */
#new-launch{
  padding: 50px 95px;
}

/* CSS OF THE BOTTOM IMAGE BACKGROUND  */
.bottom-image {
  background-image:url('../images/index/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: fit-content;
}
/* CSS OF THE FLEX CONTAINER CLASS  */
.flex-container{
  display: flex;
}

/* CSS OF THE MIDDLE SECTION PARAGRAPH */
#bottom-segment-para{
  font-family:"Comfortaa";
  color: #ddd;
  line-height: 25px;
  padding: 0px 150px 50px;
  margin: 0px;
  text-align: justify;
}
/* CSS OF THE UPPER RIGHT TEXT  */
.a-music-that{
  margin:0%;
  font-family: "Comfortaa";
  color:#ffca13;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  justify-content: right;
  padding-right: 220px;
  padding-top: 276px;
}
/* CSS OF THE TEXT "BLOW"  */
#blow{
  margin:0%;
  font-family: "Comfortaa";
  color:#ffffff;
  font-weight: bold;
  font-size: 60px;
  display: flex;
  justify-content: right;
  padding-right: 253px;
  padding-top: 17px;
}
/* CSS OF THE TEXT "YOUR MIND"  */
#your-mind{
  margin:0%;
  font-family: "Comfortaa";
  color:#ffca13;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  justify-content: right;
  padding-right: 188px;
  padding-top: 16px;
}
/* CSS OF THE ID NEW ALBUM  */
#new-album{
  padding-left: 20px;
}

/* CSS OF THE TRACKLIST  */
.new-track{
  font-family:"Comfortaa";
  color: #ddd;
  line-height: 25px;
 text-align: left;
}
/* CSS OF THE SOUND TRACK  */
#sound-tracks{
  padding-top: 79px;
}
/* CSS OF THE BLACK-BOX IN THIRD SECTION  */
.black-box{
  background:black;
}
/* CSS OF THE ALBUM-COVER IN SECOND SECTION  */
#album-cover{
  width:578px
}

/* CSS OF THE  VIDEO TRACKS LIST  */
#videos{
  
  padding-top: 50px;
  margin:0%;
  font-family: "Comfortaa";
  color:#ffca13;
  font-weight: bold;
  font-size: 36px; 
  padding-left: 80px;
}


/* CSS OF THE  FLEX BOX OF VIDEO TRACKS LIST  */
.video-track-flex{
  display:flex;
  flex-direction: row;
  padding-top: 20px;
  font-family:"Comfortaa";
  color: rgb(255, 255, 255);
  justify-content: space-evenly;
  padding-bottom:30px;
}

/* CSS of the input text in the contact form */
.input-box {
  width: 90%;
  padding: 8px ;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* CSS OF THE CLASS BOTTOM-FLEX  */
.bottom-flex{
  display:flex;
  flex-direction: column;
justify-content: space-evenly;
padding: 51px;

}


/* CSS OF THE TEXT" TOUR-DATES"  */
#mail-me{
  text-align: center;

}
/* CSS OF THE CLASS YELLOW-LABEL */
.yellow-label{
  margin:0%;
  font-family: "Comfortaa";
  color:#ffca13;
  font-weight: bold;
  font-size: 36px; 
}

/* CSS OF THE TABLE USED IN FOURTH SECTION */
#table{
 font-family:"Comfortaa";
 color: rgb(25 25 25);
justify-content: space-between;
text-align: center;
border-spacing: 27px;
}
/* CSS OF THE TABLE HEAD */
.table-head{
  margin:0%;
  font-family: "Comfortaa";
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 16px; 
  background-color:#ffca13;
  margin-top: 10px;
}
/* CSS OF THE DATE IN TABLE */
.date{
  margin:0%;
  font-family: "Comfortaa";
  color:#ffca13;
  font-weight: bold;
  font-size: 26px; 
  text-align: center;
}
/* CSS OF THE DATE IN TABLE */
.date > span {
  font-size: 36px;
}
/* CSS OF THE ROW IN TABLE */
.table-row{
  height: 47px;
}

/* CSS of the Submit button */
.submit {
  margin: auto;
  margin-top: 20px;
  width: 30%;
  background-color: #1c0248;
  color: rgb(255, 255, 255);
  padding: 8px 116px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Comfortaa";
  
}
/* CSS OF THE TEXT "HURRY UP!" */
#hurry-up{
  margin:0%;
  font-family: "Comfortaa";
  color:#ffca13;
  font-weight: bold;
  font-size: 26px; 
  text-align: center;
}
/* CSS of the Footer bar */
.Links {
  overflow: hidden;
 background-color: rgba(6, 1, 31, 0.589);
  text-align: center;
  width: 100%;
  /* Full width */
}

/* CSS of the Footer bar content */
.Links a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* CSS of the Footer bar */
.Links {
  overflow:hidden;
  background-color: rgb(6, 1, 31);
  text-align: center;
  width: 100%;
  /* Full width */
}

/* CSS of the Footer bar content */
.Links a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}
/* CSS of the hover effect of the footer bar content */
.Links section:hover {
  background: #ddd;
  color: black;
}

/* CSS of the facebook icon */
#facebook{ 
  width: 20px;
}

/* CSS of the linkedin icon */
#linkedin{
  width: 20px;
}

/* CSS of the Gmail icon */
#email{
  width: 20px;
}

/* CSS of the hover effect of the footer bar content */
.Links section:hover {
  background: #ddd;
  color: rgb(209, 209, 209);
}

/* CSS OF THE MEDIA-QUERY */
@media only screen and (max-width:750px){
  .flex-container{
    flex-direction: column;
    justify-content: center;
  }
  .video-track-flex{
    flex-direction: column;
    justify-content: center;
  }
  .video-track-flex > div{
   margin: auto;
  }
  #videos{
   padding: 20px 0px;
    text-align: center
  }
  #bottom-segment-para{
    flex-direction: column;
    justify-content: center;
  }
  #new-album{
    flex-direction: column;
    justify-content: center;
  }
  #new-launch{
    flex-direction: column;
    justify-content: center;
    padding: 50px;
  }
  .new-track{
    flex-direction: column;
    justify-content: center;
  }
  .play{
    flex-direction: column;
    justify-content: center;
  }
  #sound-tracks{
    flex-direction: column;
    justify-content: center;
    padding-left: 190px;
    padding-top: 0px;
  }
  #table{
    flex-direction: column;
    justify-content: center;
   }
   .table-head{
    flex-direction: column;
    justify-content: center;
   }
   .date{
    flex-direction: column;
    justify-content: center;
   }
   .date > span {
    flex-direction: column;
    justify-content: center;
   }
   .bottom-flex{
    justify-content: center;
    padding: 20px;
   }
   #mail-me{
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .video-track{
    flex-direction: column;
    justify-content: center;
  }
  .submit {
    padding: 20px 0px;
  }
  nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-left:200px;
  }
}







